@font-face {
	font-family: 'Semplicita';
	src: url('fonts/Semplicita-Medium.eot');                                             /* IE9 Compat Modes */
	src: url('fonts/Semplicita-Medium.eot?#iefix') format('embedded-opentype'),          /* IE6-IE8 */
	     url('fonts/Semplicita-Medium.otf')  format('opentype'),
	     url('fonts/Semplicita-Medium.woff') format('woff'),                             /* Pretty Modern Browsers */
	     url('fonts/Semplicita-Medium.ttf')  format('truetype'),                         /* Safari, Android, iOS */
	     url('fonts/Semplicita-Medium.svg#Semplicita-Medium') format('svg');             /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Semplicita';
	src: url('fonts/Semplicita-MediumItalic.eot');                                       /* IE9 Compat Modes */
	src: url('fonts/Semplicita-MediumItalic.eot?#iefix') format('embedded-opentype'),    /* IE6-IE8 */
	     url('fonts/Semplicita-MediumItalic.otf')  format('opentype'),
	     url('fonts/Semplicita-MediumItalic.woff') format('woff'),                       /* Pretty Modern Browsers */
	     url('fonts/Semplicita-MediumItalic.ttf')  format('truetype'),                   /* Safari, Android, iOS */
	     url('fonts/Semplicita-MediumItalic.svg#Semplicita-MediumItalic') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Semplicita';
	src: url('fonts/Semplicita-Bold.eot');                                               /* IE9 Compat Modes */
	src: url('fonts/Semplicita-Bold.eot?#iefix') format('embedded-opentype'),            /* IE6-IE8 */
	     url('fonts/Semplicita-Bold.otf')  format('opentype'),
	     url('fonts/Semplicita-Bold.woff') format('woff'),                               /* Pretty Modern Browsers */
	     url('fonts/Semplicita-Bold.ttf')  format('truetype'),                           /* Safari, Android, iOS */
	     url('fonts/Semplicita-Bold.svg#Semplicita-Bold') format('svg');                 /* Legacy iOS */
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Semplicita';
	src: url('fonts/Semplicita-BoldItalic.eot');                                         /* IE9 Compat Modes */
	src: url('fonts/Semplicita-BoldItalic.eot?#iefix') format('embedded-opentype'),      /* IE6-IE8 */
	     url('fonts/Semplicita-BoldItalic.otf')  format('opentype'),
	     url('fonts/Semplicita-BoldItalic.woff') format('woff'),                         /* Pretty Modern Browsers */
	     url('fonts/Semplicita-BoldItalic.ttf')  format('truetype'),                     /* Safari, Android, iOS */
	     url('fonts/Semplicita-BoldItalic.svg#Semplicita-BoldItalic') format('svg');     /* Legacy iOS */
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Semplicita';
	src: url('fonts/Semplicita-Light.eot');                                              /* IE9 Compat Modes */
	src: url('fonts/Semplicita-Light.eot?#iefix') format('embedded-opentype'),           /* IE6-IE8 */
	     url('fonts/Semplicita-Light.otf')  format('opentype'),
	     url('fonts/Semplicita-Light.woff') format('woff'),                              /* Pretty Modern Browsers */
	     url('fonts/Semplicita-Light.ttf')  format('truetype'),                          /* Safari, Android, iOS */
	     url('fonts/Semplicita-Light.svg#Semplicita-Light') format('svg');               /* Legacy iOS */
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Semplicita';
	src: url('fonts/Semplicita-LightItalic.eot');                                        /* IE9 Compat Modes */
	src: url('fonts/Semplicita-LightItalic.eot?#iefix') format('embedded-opentype'),     /* IE6-IE8 */
	     url('fonts/Semplicita-LightItalic.otf')  format('opentype'),
	     url('fonts/Semplicita-LightItalic.woff') format('woff'),                        /* Pretty Modern Browsers */
	     url('fonts/Semplicita-LightItalic.ttf')  format('truetype'),                    /* Safari, Android, iOS */
	     url('fonts/Semplicita-LightItalic.svg#Semplicita-LightItalic') format('svg');   /* Legacy iOS */
	font-weight: 100;
	font-style: italic;
}
