/*  Website styling, by Ming-Yee Tsang */

* {
	font-family: "Palatino Linotype", Palatino, serif;
}
body {
	 padding-top: 50px;
//	 background: url("http://feynman.princeton.edu/~psps/imgs/webbackground.jpg") repeat #ed6b49;
}
body > div.container {
	background: white;
	padding-top: 1em;
	padding-bottom: 1em;
}
div.container {
	float: none;
	max-width: 900px;
	margin: 0 auto;
}
body > header {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 200px;
	max-height: 500px;
}
img {
	max-width: 100%;
}
alert ul {
	padding-left: 0;
	list-style-type: none;
}
alert ul > li::before {
	content: "\2013\2002";
}

.form-horizontal .control-label {
	text-align: left;
}

/* Icons */
span.icon::before {
	background-size: 20px 20px;
	background-position: bottom;
	background-repeat: no-repeat;
	display: inline-block;
	width: 25px;
	height: 25px;
	content: "";
}
span.icon-mail::before {
	background-image: url('../img/iconmonstr-email-2.svg');
}
span.icon-mail:hover::before {
	background-image: url('../img/iconmonstr-email-8.svg');
	background-size: 20px 26.5px;
}
span.icon-facebook::before { background-image: url('../img/social-1_logo-facebook.svg'); }
span.icon-facebook:hover::before { background-image: url('../img/social-1_logo-facebook-blue.svg'); }
