/*  Website styling, by Ming-Yee Tsang */

html {

}
body {
	 padding-top: 50px;
//	 background: url("http://feynman.princeton.edu/~psps/imgs/webbackground.jpg") repeat #ed6b49;
}
body > div.container {
	background: white;
	padding-top: 1em;
	padding-bottom: 1em;
}
div.container {
	float: none;
	max-width: 900px;
	margin: 0 auto;
}
body > header {
	min-height: 200px;
	max-height: 500px;
}
img {
	max-width: 100%;
}
alert ul {
	padding-left: 0;
	list-style-type: none;
}
alert ul > li::before {
	content: "\2013\2002";
}

.form-horizontal .control-label {
	text-align: left;
}
