<footer class="hidden-print">
	<hr />
	
	<p><a href=".">Back to main page</a></p>
	<div class="hidden-xs">
	<p>&copy; Copyright 2016, Princeton Society of Physics Students</p>
	<div class="row">
		<span class="col-sm-2">
			<a href="mailto:pupc@princeton.edu"><span class="icon icon-mail"></span></a>
			<a href="https://facebook.com/pspsPUPC"><span class="icon icon-facebook"></span></a>
		</span>
		<span class="col-sm-2">
			<a href="Privacy.php">Privacy Policy</a>
		</span>
		<span class="col-sm-2">
			<a href="About.php">About</a>
		</span>
	</div>
	</div>
	<div class="hidden-sm hidden-md hidden-lg">
		<details>
			<summary>&copy; Copyright 2016, PSPS</summary>
			<div>
				
			</div>
			<div>
				<a href="Privacy.php">Privacy Policy</a>
			</div>
			<div>
				<a href="About.php">About</a>
			</div>
		</details>
	</div>
<footer><F11>
