{% extends "layout_PUPC.html.twig" %}

{% set title = "About" %}

{% block body %}
	{{ parent() }}
	
	The competition is entirely organized and run by undergraduate and graduate students affiliated with Princeton University.
	It was launched by <i>Pavel Shibayev</i>&nbsp;&rsquo;15 in 2014 and coordinated jointly with <i>Luca Iliesiu</i>&nbsp;&rsquo;15.
<!--	The Organizing Team of the first edition of this competition is listed <b><a href="/pupc/2014/team.htm" target="_blank" title="PUPC-2014 Organizing Team">here</a></b>.</i><br><br> -->
	<h2 name="organizers">Organizing Committee</h2>
	<div class="row">
		<span class="col-xs-3">Co-Directors</span>
		<span class="col-xs-9">Andrew Sharo, Ioanna Kourkoulou</span>
		<span class="col-xs-3">Problem Development</span>
		<span class="col-xs-9">Himawan Winarto (problem czar)<!--<br><i><u>Members</u>:</i> Pavel Shibayev, Roberta Raileanu, Andrew Sharo, Himawan Winarto, Sihan Yuan, Charles Guo, Mark Stone<br>The Online Part was spearheaded by <b>Pavel Shibayev</b> (Condensed Matter) and <b>Luca Iliesiu</b> (Cosmology).--></span>
		<span class="col-xs-3">Judging</span>
		<span class="col-xs-9">Nathan Agmon</span>
		<span class="col-xs-3">Finance</span>
		<span class="col-xs-9">Daksh Sharma</span>
	</div>
	
	<h2 name="board">Permanent Board</h2>
	<p>Pavel Shibayev, Ming-Yee Tsang, Luca Iliesiu, Roberta Raileanu; PUPC 2015 Organizing Committee members</p>

	<br />
	<p>For any inquiries about the Princeton University Physics Competition, please e-mail us at <a href="mailto:psps@princeton.edu">psps@princeton.edu</a> with your questions or comments. We will do our best to get back to you ASAP. Thank you!</p>
{% endblock body %}
