{% extends "layout_PUPC.html.twig" %}

{% set title = "About" %}

{% block body %}
	{{ parent() }}
	
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			The competition is entirely organized and run by undergraduate and graduate students affiliated with Princeton University.
			It was launched by <b>Pavel Shibayev</b>&nbsp;&rsquo;15 in 2014 and coordinated jointly with <b>Luca Iliesiu</b>&nbsp;&rsquo;15.
<!--			The Organizing Team of the first edition of this competition is listed <b><a href="/pupc/2014/team.htm" target="_blank" title="PUPC-2014 Organizing Team">here</a></b>.</i><br><br> -->
			<div id="sidebar">
				<table border="0">
					<tr><a name="organizers"></a>
						<td><h3><u>Organizing Committee</u></h3></td>
					</tr>
					<tr>
						<td><i><u>Position/Team</u></i></td>
						<td><b><u>Name</u></b></td>
					</tr>
					<tr>
					<td><i>Co-Directors</i></td>
					<td><b>Andrew Sharo</b> and <b>Ioanna Kourkoulou</b></td>
					</tr>
					<tr>
					<td><i>Problem Development</i></td>
					<td><b>Himawan Winarto</b> (problem czar)<!--<br><i><u>Members</u>:</i> Pavel Shibayev, Roberta Raileanu, Andrew Sharo, Himawan Winarto, Sihan Yuan, Charles Guo, Mark Stone<br>The Online Part was spearheaded by <b>Pavel Shibayev</b> (Condensed Matter) and <b>Luca Iliesiu</b> (Cosmology).--></td>
					</tr>
					<tr>
					<td><i>Judging</i></td>
					<td><b>Nathan Agmon</b></td>
					</tr>
					<tr>
					<td><i>Finance</i></td>
					<td><b>Daksh Sharma</b></td>
					</tr>
				</table>
			</div>
			
    		<table border="0">
    			<tr><a name="board"></a>
    				<td><h3><u>Permanent Board</u></h3></td>
    			</tr>
    			<tr>
    				<td>Pavel Shibayev, Ming-Yee Tsang, Luca Iliesiu, Roberta Raileanu; PUPC 2015 Organizing Committee members</td>
    			</tr>
    		</table>
			
			<br /><br />
			For any inquiries about the Princeton University Physics Competition, please e-mail us at <a href="mailto:psps@princeton.edu">psps@princeton.edu</a> with your questions or comments. We will do our best to get back to you ASAP. Thank you!
		</div>
	</div>
{% endblock body %}
