{% extends "layout.html.twig" %}

{% set title = "About" %}

{% block image %}{{ parent() }}{% endblock %}
{% block body %}
	{{ parent() }}
	
	The competition is entirely organized and run by undergraduate and graduate students affiliated with Princeton University.
	It was launched by <i>Pavel Shibayev</i>&nbsp;&rsquo;15 in 2014 and coordinated jointly with <i>Luca Iliesiu</i>&nbsp;&rsquo;15.
<!--	The Organizing Team of the first edition of this competition is listed <b><a href="/pupc/2014/team.htm" target="_blank" title="PUPC-2014 Organizing Team">here</a></b>.</i><br><br> -->
	<h2 name="organizers">Organizing Committee</h2>
	<div class="row">
		<span class="col-xs-3">Directors</span>
		<span class="col-xs-9">Zach Schoenfeld</span>
		<span class="col-xs-3">Directors Emeritus</span>
		<span class="col-xs-9">Pavel Shibayev, Andrew Sharo, Ioanna Kourkoulou</span>
		<span class="col-xs-3">Problem Czar</span>
		<span class="col-xs-9">Thomas Hartke</span>
		<span class="col-xs-3">Web Master</span>
		<span class="col-xs-9">Ming-Yee Tsang</span>
		<span class="col-xs-3">Finance Chair</span>
		<span class="col-xs-9">Yinan Zheng</span>
		<span class="col-xs-3">Outreach Chair</span>
		<span class="col-xs-9">Rohit Dilip</span>
		<span class="col-xs-3">Judging Chair</span>
		<span class="col-xs-9">Nathan Agmon</span>
		<span class="col-xs-3">Additional Problem Writers</span>
		<span class="col-xs-9">Gabriel Gaitan, Robert-Iulian Raveanu, George Kevrekidis</span>
	</div>
	
	<h2 name="board">Permanent Board</h2>
	<p>Pavel Shibayev, Ming-Yee Tsang, Luca Iliesiu, Roberta Raileanu; PUPC 2015 Organizing Committee members</p>
{% endblock body %}
