{% extends "layout.html.twig" %}

{% set title = "About" %}

{% block body %}
	{{ parent() }}
	
	<p>
		The <em>Princeton Society of Physics Students</em> (PSPS) is an official chapter of the national Society of Physics Students (SPS). Our most popular events are faculty talks with research presentations from various professors in all areas of research related to physics. In January 2013 we initiated the so-called Informal Gatherings (IGs), designed to let physics-minded Princeton students communicate with each other over a meal in one of the residential dining halls. Our ultimate goals are to encourage upperclassmen to widen their knowledge of physics, to give underclassmen the opportunity to meet professors and know what research projects are available to them, and to be a resource for all students looking for advice or curious about any aspect of physics.
	</p>
{% endblock body %}
