{% extends "layout.html.twig" %}

{% set title = "China" %}

{% block image %}SUSTech.jpg{% endblock %}
{% block body %}
	{{ parent() }}

	<h2>PUPC International Chapter in China</h2>
	<p>
	        PUPC has established an international chapter at <a href="http://sustc.edu.cn/en/about" target="_blank">Southern University of Science and Technology of China (SUSTech)</a> in <i>Shenzhen, China.</i> If you are a prospective contestant who could not travel to the U.S. for the Onsite Test at Princeton, you now have the opportunity to compete at SUSTech instead.
	</p>
	<!--<li>If you wish to compete at SUSTC and have <u>not</u> previously registered for the Onsite Test at all, please complete the following steps, in this order:
	<br>
	1. Fill out and submit the standard registration form by following the link at the bottom of this page and selecting "South University of Science and Technology of China, Shenzhen, China" for the location option.
	<br>
	2. Only <u>after</u> completing step 1, for further details about the schedule at SUSTC, please directly contact Prof. Chang Liu (liu.c *AT* sustc.edu.cn).
	<br><br>
	<li>If you have already registered to take the Onsite Test at Princeton University and would now like to take it at SUSTC instead, please complete the following steps, in this order:
	<br>
	1. Send an e-mail to us at psps@princeton.edu ASAP with "PUPC Onsite Test Location Change" in the title and in the body including (1) your name, (2) your high school's name, (3) the e-mail address you have registered with, and (4) "South University of Science and Technology of China, Shenzhen, China". Please do *NOT* submit the registration form the second time.
	<br>
	2. Only <u>after</u> completing step 1, for further details about the schedule at SUSTC, please directly contact Prof. Chang Liu (liu.c *AT* sustc.edu.cn).
	<br>
	<br>-->

	<p>Information for the 2017 SUSTech exam will be available in early September through 
	  <a href="http://physicsu.org/" target="_blank">Physics Unlimited</a>.</p>
<!--	<h3>Schedule for 2016 Onsite Event (all times local)</h3>

<i>Date:</i> Saturday, 19 November 2016<br>
<i>Check-in time and location:</i> before 11 am, Room <b>203</b>, Teching Building 1<br>
<i>Location for the competition:</i> Room <b>110</b>, Teching Building 1<br>
<i>Start time:</i> 2:00 pm<br>
<i>End time:</i> 3:30 pm
<br><br>
	Results will be posted in the days after the event takes place. -->
	<h2>Past results from SUSTech</h2>
<h3><a href="/archive/2016_onsite_results-sustech.pdf" target="_blank">PUPC 2016</a></h3>
<h3><a href="/archive/2015_onsite_results-sustc.pdf" target="_blank">PUPC 2015</a></h3>
	<!--<i>11 students</i> competed in the first annual Onsite Test of the Princeton University Physics Competition based at SUSTC, held on Saturday, November 21, 2015. The rankings are <i><a href="/files/onsite_results_2015_sustc.pdf" target="_blank">now available</a>.</i>
	<br>For your individual score breakdown, please e-mail us at pupc@princeton.edu or Prof. Chang Liu (liu.c *AT* sustc.edu.cn).
		
	<br><br>You may access the problem packets that you were given <b><a href="/files/onsite_problems_2015.pdf" target="_blank">here</a></b>.
	<br>Selected solutions can be found <b><a href="/files/onsite_solutions_2015.pdf" target="_blank">here</a></b>.
	
	<br><br>We congratulate all participants, whether you are a winner or not!<br>Thank you very much and we hope to see you, along with your classmates and friends, next year.-->
{% endblock body %}
