{% extends "layout.html.twig" %}

{% set title = "Contact us" %}

{% block image %}{{ parent() }}{% endblock %}
{% block body %}
	{{ parent() }}
	
	<p>For any inquiries about the Princeton University Physics Competition, please please e-mail us your questions or comments at
	<a href="mailto:psps@princeton.edu">psps@princeton.edu</a>, and we will do our best to get back to you ASAP.</p>
{% endblock body %}
