{% extends "layout.html.twig" %}

{% set title = "Contact us" %}

{% block image %}{{ parent() }}{% endblock %}
{% block body %}
	{{ parent() }}
	
	<p>For any inquiries about the Princeton University Physics Competition, please e-mail your questions or comments to
	<a href="mailto:pupc@princeton.edu">pupc@princeton.edu</a>, and we will do our best to get back to you ASAP.</p>
	<p>You can also message us or keep updated through our <a href="https://www.facebook.com/Official.PUPC/">Facebook page</a>.</p>
	<p>Thank you for your interest in the Princeton University Physics competition! We will try to get back to you as soon as possible.</p>
{% endblock body %}
