{% extends "layout_PUPC.html.twig" %}

{% set title = "About" %}

{% block body %}
	{{ parent() }}
	
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		<p>For any inquiries about the Princeton University Physics Competition, please please e-mail us your questions or comments at
		<a href="mailto:psps@princeton.edu">psps@princeton.edu</a>, and we will do our best to get back to you ASAP.</p>
	</div>
{% endblock body %}
