{% extends "layout.html.twig" %}

{% set title = "Germany" %}

{% block image %}{{ parent() }}{% endblock %}
{% block body %}
	{{ parent() }}
	<h2>PUPC International Chapter in Germany</h2>
	PUPC has established an international chapter at the <a href="https://www.fh-aachen.de/en/university/freshman/" target="_blank">Freshman Institute of FH Aachen &ndash; Aachen University of Applied Sciences</a> in <i>Geilenkirchen, Germany</i>. If you are a prospective contestant who could not travel to the U.S. for the Onsite Test at Princeton, you now have the opportunity to compete at the Freshman Institute of FH Aachen instead.
	<br><br>
	<!--<li>If you wish to compete at the Freshman Institute of FH Aachen and have <u>not</u> previously registered for the Onsite Test at all, please complete the following steps, in this order:
	<br>
	1. Fill out and submit the standard registration form by following the link at the bottom of this page and selecting "Freshman Institute of FH Aachen, Geilenkirchen, Germany" for the location option.
	<br>
	2. Only <u>after</u> completing step 1, for further details about the schedule at the Freshman Institute of FH Aachen, please directly contact Soheil Mirzapoor (soheil.mirzapoor *AT* alumni.fh-aachen.de).
	<br><br>
	<li>If you have already registered to take the Onsite Test at Princeton University and would now like to take it at the Freshman Institute of FH Aachen instead, please complete the following steps, in this order:
	<br>
	1. Send an e-mail to us at psps@princeton.edu ASAP with "PUPC Onsite Test Location Change" in the title and in the body including (1) your name, (2) your high school's name, (3) the e-mail address you have registered with, and (4) "Freshman Institute of FH Aachen, Geilenkirchen, Germany". Please do *NOT* submit the registration form the second time.
	<br>
	2. Only <u>after</u> completing step 1, for further details about the schedule at the Freshman Institute of FH Aachen, please directly contact Soheil Mirzapoor (soheil.mirzapoor *AT* alumni.fh-aachen.de).
	<br>
	<br>-->
	<h3>Schedule for 2016 Onsite Event (all times local)</h3>

<i>Date:</i> Saturday, 19 November 2016<br>
<i>Start time:</i> 10:00 am<br>
<i>End time:</i> 11:30 am
<!--<i>Lunch:</i> 12:00 - 01:00 pm<br>
<i>Awards ceremony:</i> 01:30 pm-->
<br><br>
	Results will be posted in the days after the event takes place.
	<h2>Past results from the Freshman Institute of FH Aachen</h2>
<h3><a href="/archive/2015_onsite_results-fhaachen.pdf" target="_blank">PUPC 2015</a></h3>
	<!--<i>22 students</i> competed in the first annual Onsite Test of the Princeton University Physics Competition based at the Freshman Institute of FH Aachen, held on Saturday, November 21, 2015. The rankings are now available <b><a href="files/onsite_results_2015_fhaachen.pdf" target="_blank">here</a></b>.
	<br>For your individual score breakdown, please e-mail us at psps@princeton.edu or Soheil Mirzapoor (soheil.mirzapoor *AT* alumni.fh-aachen.de).
	
	<br><br>You may access the problem packets that you were given <b><a href="files/onsite_problems_2015.pdf" target="_blank">here</a></b>.
	<br>Selected solutions can be found <b><a href="files/onsite_solutions_2015.pdf" target="_blank">here</a></b>.
	
	<br><br>We congratulate all participants, whether you are a winner or not!<br>Thank you very much and we hope to see you, along with your classmates and friends, next year.-->
{% endblock body %}
