{% extends "layout.html.twig" %}

{% set title = "International chapters" %}

{% block image %}{{ parent() }}{% endblock %}
{% block body %}
	{{ parent() }}
	
	<p>The PUPC established three international chapters between 2015 and 2016 in addition to its headquarters at Princeton 
	University. <a href="http://physicsu.org" target="_blank"> Physics Unlimited</a> will organize the international chapters 
	in the future. Check back on the Physics Unlimited site for further info later.
	<br><br>
	
	PUPC 2015 featured one chapter at the 
	<a href="http://sustc.edu.cn/en/about" target="_blank">South University of Science and Technology of China (SUSTC)</a> 
	in <b>Shenzhen, China</b> and one chapter at the 
	<a href="https://www.fh-aachen.de/en/university/freshman/" target="_blank">Freshman Institute of FH Aachen</a> 
	in <b>Geilenkirchen, Germany</b>.
	<br><br>
	
	PUPC 2016 included an additional chapter at 
	<a href="http://fmph.uniba.sk/en/" target="_blank">Comenius University (Faculty of Mathematics, Physics and Informatics)</a> 
	in <b>Bratislava, Slovakia</b>.
	<br><br>
	
	If you are a prospective contestant who could not travel to the U.S. for the Onsite Test at Princeton, you now have 
	the opportunity to compete at one of these locations instead. The links below will guide you to further details:

	<ul class="pager">
                	<li class="text-center">
						<a href="/global/Princeton.php" target="_blank">Princeton<!-- &rarr;--></a><br><br>
                    	<a href="/global/China.php" target="_blank">China<!-- &rarr;--></a>
                        <a href="/global/Germany.php" target="_blank">Germany<!-- &rarr;--></a>
						<a href="/global/Slovakia.php" target="_blank">Slovakia<!-- &rarr;--></a>
                    </li>
                </ul>
{% endblock body %}
