{% extends "layout.html.twig" %}

{% set title = "" %}

{% block image %}letterhead.jpg{% endblock %}
{% block body %}
	{{ parent() }}
	
	<div class="row">
		<div class="col-xs-12 col-sm-12">
			<p>
				Registration for PUPC 2016 will open soon. Keep an eye on our website and Facebook page for further updates.
			</p>
			<p>
				The Princeton University Physics Competition offers high school students from around the globe the opportunity to exhibit their physical intuition and mathematical prowess by solving challenging, out-of-the-box physics problems. Content ranges from new formulations of classical physics to cutting-edge subjects at the forefront of modern research. We offer onsite exams in Princeton, as well as international chapters in China, Germany, and Slovakia. We also have an online exam, which students have a week to complete. <!--We are grateful to our many sources of <a href="#Sponsors">support</a>.-->
			</p>
			
		</div>
	</div>
{% endblock body %}
