<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
	<head>
		<title>Princeton University Physics Competition</title>
{% include "partials/meta.html.twig" %}
{% include "partials/css.html.twig" %}
{% include "partials/js.html.twig" %}
{% include "partials/favicon.html.twig" %}
	</head>
	<body>
		{% include "partials/navbar.html.twig" %}
		<header id="HomeBanner">
			<div class="container">
				<center><h1>Princeton&nbsp;University Physics&nbsp;Competition</h1></center>
			</div>
		</header>
		
		<!-- Beginning of content -->
		<div id="HomeNews">
			<div class="container">
{% for flash in flashes %}
				<div class="alert alert-{{ flash[0] }} fade in">
					<a href="#" class="close" data-dismiss="alert">&times;</a>
					{{ flash[1] | raw }}
				</div>
{% endfor %}
				<p>
					Registration for PUPC 2016 will open soon. Keep an eye here and on our <a href="https://www.facebook.com/pspsPUPC">Facebook page</a> for further updates.
				</p>
			</div>
		</div>
		<div class="container">
			<p>
				The Princeton University Physics Competition offers high school students from around the globe the opportunity to exhibit their physical intuition and mathematical prowess by solving challenging, out-of-the-box physics problems. Content ranges from new formulations of classical physics to cutting-edge subjects at the forefront of modern research. We offer <a href="Onsite.php">onsite exams</a> in Princeton, as well as international chapters in China, Germany, and Slovakia. We also have an <a href="Online.php">online exam</a>, which students have a week to complete. <!--We are grateful to our many sources of <a href="#Sponsors">support</a>.-->
			</p>
		</div>
		<div class="container" id="Sponsors">
			<center><h2>Sponsors</h2></center>
			<div class="row">
				<div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-4">
					<a href="https://www.expii.com"><img alt="Expii" src="img/expii_logo.png"></img></a>
				</div>
				<div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-4">
					<a href="https://www.janestreet.com"><img alt="Jane Street Capital" src="img/Jane_Street_thinner.png"></img></a>
				</div>
				<div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-4">
					<a href="http://www.3redgroup.com"><img alt="3Red Trading" src="img/3red.jpeg"></img></a>
				</div>
			</div>
		</div>
		<div class="container">
			{% include "partials/footer.html.twig" %}
		</div>
	</body>
</html>
