{% extends "layout.html.twig" %}

{% set title = "Portal" %}

{% block body %}
	{{ parent() }}
	
	<a href="Register.php" class="btn btn-primary btn-inverse">Register</a> now to gain access to our resources.
	<div class="row">
		<div class="col-xs-12 col-sm-5">
			<div class="picture_div" style="margin:0px auto; text-align:center;">
				<a href="imgs/PUPC_letterhead.jpg" target="_blank" onclick="pwin = window.open(this.href,'nrp','width=687,height=450,resizable=1');pwin.focus();return false;"><img src="imgs/PUPC_letterhead.jpg" width="740" height="150" style="border: 0px solid black; text-align:center; resize:both;" alt="PUPC Logo" title="PUPC Logo"></a>
			</div>
			<br>
			<p style="color:red">
			The 2016 Princeton University Physics Competition will take place in November 2016.
			The date of the Onsite Event is Saturday, November 19, 2016. Registration is now open.
			<p style="border:1px; border-style:solid; border-color:#FF0000;"><i>
				<b>Global update:</b> The PUPC has established three international chapters: in China, Germany, and Slovakia. For details, please proceed <b><a href="/global" target="_blank">here</a></b>.
			</i></p>
			The second annual <b>Princeton University Physics Competition</b> took place in <b>November 2015.</b>
			The international competition aims to provide high school students with a venue to exhibit their skills in solving non-ordinary physics problems, learn new concepts from present-day areas of physics undergoing groundbreaking research,
			while at the same time competing for awards.
			<p style="color:red">Results, problems, and solutions for the PUPC 2015 Onsite Test held in three countries on Saturday, November 21 are available <b><a href="/2015/results.htm#onsite" target="_blank">here</a></b>.<!--Registration for the Onsite Test on Saturday, November 21 remains <b><a href="https://docs.google.com/forms/d/1lND7pjEBCFiscLW6VDPdNjlFLgwhtpzQQLyBljkkq7M/viewform?embedded=true" target="_blank">open</a></b>.<br>The schedule for the day has been updated <b><a href="/2016/schedule.htm#onsite" target="_blank">here</a></b>.--></p>
			
			<!-- Pager -->
			<!--<ul class="pager">
				<li class="text-center">
					<a href="https://docs.google.com/forms/d/1ZvWiJwiDav2O5TkFwSuZxvmMnxOzjck0HuM68Uwdu5A/viewform?embedded=true" target="_blank">Register for Online Part</a>
					<a href="https://docs.google.com/forms/d/1lND7pjEBCFiscLW6VDPdNjlFLgwhtpzQQLyBljkkq7M/viewform?embedded=true" target="_blank">Register for Onsite Test</a>
				</li>
			</ul>-->
			
			<!--Registration for the Online Part has <b>closed</b>. -->
			<p style="color:red">
				The PUPC 2015 Online Part has concluded; the assignment is archived <b><a href="/2015/files/PUPC_2015_OnlinePart.pdf" target="_blank">here</a></b>.
				Judging took place in December 2015, and results have been published <b><a href="/2015/results.htm#online" target="_blank">here</a></b>.
				Medals and certificates have been delivered to all winners in spring 2016. All teams may continue checking our <b><a href="https://piazza.com/class/igl3efcsmei5r4" target="_blank">Piazza page</a></b> and
				<b><a href="https://facebook.com/pspsPUPC" target="_blank">Facebook pages</a></b> for further announcements.
			</p> 
			
			<hr><br>
			The PUPC consists of two separate events: the individual-based Onsite Test, a written exam taken by contestants at Princeton University's Department of Physics and (starting in 2015) at international chapters, and the team-based Online Part, released to registered participants through e-mail and given one week to complete. The Online Part took place <b>November 9—15, 2015</b>. The Onsite Test was held on <b>November 21, 2015</b>.<br><br>Competition structure with guidelines and the inaugural year's (2014) problems can be viewed <b><a href="/2016/structure.htm" target="_blank">here</a></b>, and detailed competition rules for PUPC 2016 may be read <b><a href="/2016/rules.htm" target="_blank">here</a></b>. Interested competitors may register for either or both events, which have separate <b><a href="/2016/registration.htm" target="_blank">registration forms</a></b>.
			<br>
			
			<!-- Pager -->
			<ul class="pager">
				<li class="text-center">
					<a href="/2016/structure.htm" target="_blank">View structure and past problems<!-- &rarr;--></a>
					<br>
				</li>
			</ul>
			
			<br>
			The PUPC is officially supported by both the <b><a href="http://www.princeton.edu/physics/undergraduate-program/" target="_blank">Department of Physics</a></b> and the <b><a href="http://www.princeton.edu/astro/" target="_blank">Department of Astrophysical Sciences</a></b> at Princeton University. The competition is <b><a href="/2016/about.htm">organized</a></b> and run entirely by undergraduate and graduate students affiliated with the <a href="http://physics.princeton.edu/psps" target="_blank">Princeton Society of Physics Students</a>. The broad strategy is developed collegially by members of the <i><a href="/2016/about.htm#board">PUPC Permanent Board</a></i>, consisting of core organizers of the first year's edition and organizers of the current edition. Please see the <b><a href="imgs/PUPC-2015_poster.jpg" target="_blank">recruitment flyer</a></b> if you would like to distribute information about PUPC among interested high school students. <!--Participants may <a href="/2016/registration.htm">register here</a> <b>before November 15, 2014</b>. Please navigate the tabs above to see the rules, schedule of on-site events, and directions to campus.-->
			<!--<br><br>We also encourage you to explore the <a href="http://physics.princeton.edu/psps">PSPS website</a> to learn more about our SPS chapter's events.<br>-->
			
			<br><br>
			<h1><div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">External Support</div></h1>
			<br>
			<p>
			We are grateful to the following entities for sponsoring our activities this year. This support enables us to broaden our international competition on a global scale.<br>
 									
			<div style="float:left"><a href="https://www.janestreet.com/" target="_blank"><img src="imgs/Jane_Street.jpeg" width="430" height="114" alt="Jane Street" title="Jane Street"></a>
			<!--<a href="http://princetonusg.com/" target="_blank"><img src="imgs/USG_logo_med.png" width="300" height="240" alt="USG Projects Board" title="USG Projects Board"></a>-->
	  <a href="http://www.3redgroup.com/" target="_blank"><img src="imgs/3red.jpeg" width="300" height="240" alt="3Red" title="3Red"></a></div>
																								
			<br><br><br><br><br><br><p><br><br><br>We are in the process of seeking additional funding to ensure further growth and expansion of our worldwide efforts in our third year and beyond. If you would like to support the third edition of this competition, please <b><a href="/2016/about.htm" target="_blank">contact</a></b> the organizers.<br><br>If you are a coach or faculty member and would like to learn about opportunities to proctor a version of the Onsite Test at your university, please <b><a href="/2016/about.htm" target="_blank">contact</a></b> the organizers ASAP.</p>
						

			<br><br>
			<h1><div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">Collaborators</div></h1>
			<br>
			<p>		
			Parts of this year&rsquo;s online exams will take advantage of tools developed by the folks at expii:<br>
			<!--<a href="https://www.expii.com/" target="_blank" onclick="pwin = window.open(this.href,'nrp','width=687,height=450,resizable=1');pwin.focus();return false;"><img src="imgs/expii_logo.png" width="200" height="133" style="border: 1px solid black" alt="Expii" title="Expii"></a></div> -->
			<div class="text-center"><a href="https://www.expii.com/" target="_blank"><img src="imgs/expii_logo.png" width="200" alt="Expii" title="Expii"></a></div>
			<hr>
			<br>
			<!-- Pager -->
			<ul class="pager">
				<li class="text-center">
					<a href="/2016/registration.htm">Register<!-- &rarr;--></a>
				</li>
			</ul>
		</div>
	</div>
{% endblock body %}
