<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
	<head>
{% block head %}
		<title>{% block title %}{{ title }} - Princeton Society of Physics Students{% endblock %}</title>
{% include "partials/meta.html.twig" %}
{% include "partials/css.html.twig" %}
{% include "partials/js.html.twig" %}
{% include "partials/favicon.html.twig" %}
{% endblock head %}
	</head>
	<body>
		{% include "partials/navbar.html.twig" %}
		<div class="container">
{% for flash in flashes %}
			<div class="alert alert-{{ flash[0] }} fade in">
				<a href="#" class="close" data-dismiss="alert">&times;</a>
				{{ flash[1] }}
			</div>
{% endfor %}
{% block body %}
			<header><h1>{% block heading %}{{ title }}{% endblock %}</h1></header>
			
			<!-- Beginning of content -->
{% endblock body %}
			{% include "partials/footer.html.twig" %}
		</div>
	</body>
</html>
