{% extends "layout.html.twig" %}

{% set title = "The Online Exam" %}

{% block image %}{{ parent() }}{% endblock %}
{% block body %}
	{{ parent() }}
	
	<p>
		The online portion is a team exam which gives students the chance to tackle advanced topics in physics that are typically not discussed in introductory courses. While some classical topics are included, students will also get a feel of what modern research is like and engage with some of the most exciting topics in contemporary physics. 
	</p>
        <p>The submission deadline for the 2017 online exam has been <b>extended</b> to 11:59 pm EST on <u>Sunday, December 3, 2017</u>. Registration will also remain open until that time through 
          <a href="http://physicsu.org/About.php" target="_blank">Physics Unlimited</a>.</p>
        <p>
<!--		The Online Portion of PUPC 2016 is now live! The deadline for submissions is 11:59 AM Eastern Time (UTC-5) on Saturday, November 19th, 2016. Materials for this years exam may be found below.
	</p><p>
		There are two sections this year: the topics are 
	</p><p>
		<a href="PUPC_2016_Online-Laser&Plasma.pdf"><b>Laser and Plasma Physics</b></a></br>
		Note: You will need <a href="PUPCcodeFrame.m">PUPCcodeFrame.m</a> for section 3 of this portion of the exam. You may also find <a href="Ballexample.m">Ballexample.m</a> useful. Both are described in the exam packet. These are both MatLab files. If you do not have MatLab on your computer, be sure to download it (the exam packet provides instructions). 
	</p><p>
		<a href="PUPC_2016_Online-Entropy&StatMech.pdf"><b>Entropy and Statistical Mechanics</b></a>{%- if logged_in %}: <!-- Only visible when logged in -->
<!--		</br>Note: You will need the following article for section 4 of this portion of the exam.</br> 
		J. Liphardt <i>et al.</i> &ldquo;<a href="download.php?file=Liphardt_et_al_Science_296_5574.pdf" target="_blank">Equilibrium Information from Nonequilibrium Measurements in an Experimental Test of Jarzynski&rsquo;s Equality</a>&rdquo;. <i>Science,</i> 296, 2002. <em></br>Disclaimer: Readers may view, browse, and/or download this article for temporary use, provided it is for non-commercial personal purposes only. Except as provided by law, this article may not be further reproduced, distributed, transmitted, modified, adapted, performed, displayed, published, or sold in whole or in part, without prior written permission by the publisher.</em>
{% endif %}
	</p>


	<!--To see past online exams, see /*here*/. TODO-->

	<h2>General information</h2>
	<p>
		A full team will have between 2 and 6 members, inclusive.
	</p><p>
		Team members must not be enrolled full-time in a post-secondary institution prior to the start of the competition (i.e., must not have begun undergraduate studies).
	</p><p>
		All teams must register to compete. Depending on the number of registrations, it may be necessary to cap the number of participants or hold simple preliminary rounds to assure the highest-quality competitors. Thus, it is to your advantage to register as soon as possible.
	</p><p>
		No team can be added to the competition after the registration deadline, unless the current Director of the Princeton University Physics Competition gives permission to do so.
	</p><p>
		Generally, teams are expected to come from single high schools, but teams comprising members from several schools will be allowed for their own convenience.
	</p>

	<h2>Rules</h2>
	<p>
		The entire team may collaborate on this test. Teams will have a week to work on the exam. Different teams may not collaborate with each other.
	</p><p>
		Teams may use any computational resources they might find helpful, such as WolframAlpha, Mathematica, Matlab, Excel, or any programming language (e.g., C++, Java, Python). 
	</p><p>
		You may use written sources of information for reference, but you must cite each source you use, in accordance with the <a href="https://www.princeton.edu/pr/pub/integrity/pages/cite/">official policy</a> practiced at Princeton University. 
	</p><p>
		Students will be required to submit written solutions with justification (proof-based, but not necessarily rigorous, unless specified). 
	</p>
	
	<h2>Submission</h2>
	<p>
	  All submissions, regardless of formatting, should include a cover page listing of the title of their work, the date, and the signatures of all team participants. The work must be submitted as one single PDF document with the ".pdf." extension. All other formatting decisions are delegated to the teams themselves. No one style is favored over another. That being said, we recommend that teams use a typesetting language (e.g., Latex) or a word-processing program (e.g. Microsoft Word, Pages). Handwritten solutions are allowed. Note: we reserve the right to refuse grading of any portion of a team's submission in the case that the writing or solution is illegible.
	</p><p>
          Teams must submit their Online Part solutions by e-mailing <a href="mailto:pupc@princeton.edu">pupc@princeton.edu</a> by 11:59 am (noon) Eastern Time (UTC-5) on Saturday, November 19, 2016. Teams will not be able to submit their solutions to the Online Part at any later time. Any team member may send the submission. The title of the submission e-mail should be formatted as "SUBMISSION-Team Name". Note: all teams may make multiple submissions; however, we will only grade the most recent submission submitted before the deadline. Teams will receive confirmation once their submission has been received within at most two days. In the case of extroadinary circumstances, please contact us as soon as possible.
	</p>

	<h2>Scoring</h2>
	<p>
	  Students are encourage to work on as much of both sections of the exam as possible. However, teams may choose to submit solutions for only one of the two sections if they desire. The two sections will be graded seperately, and may not necessarily be worth the same amount of points. The award structure will be as follows:
	</p>
	<p>
	  1. Awards will be given to the four teams with the highest score in each section (an award for first place, second place, third place, and fourth place). One team can win an award for both sections, such as second place in Laser and Plasma Physics and fourth place in Entropy and Statistical Mechanics. Therefore teams are encouraged to attempt solutions for both sections of the competition.
	</p><p>
          2. We will additionally award one overall award to the highest scoring team on the entire competition. A team which wins this overall award can still receive one of the top four awards for each individual section. The team that wins this overall award will most likely have completed both sections of the exam. It will be at the judges' discretion to choose the overall award for the best submission.
	</p><p>
          3. Special awards will also be given for honorable mentions, the most elegant solution, and the most creative solution.
	</p>
{% endblock body %}
