{% extends "layout.html.twig" %}

{% set title = "The Online Exam" %}

{% block image %}{{ parent() }}{% endblock %}
{% block body %}
	{{ parent() }}
	
	<p>
	The online portion is a team exam which gives students the chance to tackle advanced topics in physics that are typically not discussed in introductory courses. While some classical topics are included, students will also get a feel of what modern research is like and engage with some of the most exciting topics in contemporary physics. 
	</p><p>
	The Online Portion of PUPC 2016 will take place between Saturday, November 12, and Saturday, November 19, (precise times to be posted soon!).
	</p><p>
	The topics for this year are:

	To be announced soon!
	</p>
	<!--To see past online exams, see /*here*/. TODO-->

	<h2>General information</h2>
	<p>
		A full team will have between 2 and 6 members, inclusive.
	</p><p>
		Team members must not be enrolled full-time in a post-secondary institution prior to the start of the competition (i.e., must not have begun undergraduate studies).
	</p><p>
		All teams must register to compete. Depending on the number of registrations, it may be necessary to cap the number of participants or hold simple preliminary rounds to assure the highest-quality competitors. Thus, it is to your advantage to register as soon as possible.
	</p><p>
		No team can be added to the competition after the registration deadline, unless the current Director of the Princeton University Physics Competition gives permission to do so.
	</p><p>
		Generally, teams are expected to come from single high schools, but teams comprising members from several schools will be allowed for their own convenience.
	</p>

	<h2>Rules</h2>
	<p>
		The entire team may collaborate on this test. Teams will have approximately a week to work on the exam. Different teams may not collaborate with each other.
	</p><p>
		Teams may use any computational resources they might find helpful, such as WolframAlpha, Mathematica, Matlab, Excel, or any programming language (e.g., C++, Java, Python). 
	</p><p>
		You may use written sources of information for reference, but you must cite each source you use, in accordance with the <a href="https://www.princeton.edu/pr/pub/integrity/pages/cite/">official policy</a> practiced at Princeton University. 
	</p><p>
		Students will be required to submit written solutions with justification (proof-based, but not necessarily rigorous, unless specified). 
	</p><p>
		Solutions should be sent to the address <a href="mailto:pupc.submit@gmail.com">pupc.submit@gmail.com</a> with your team name in the Subject field. Any registered e-mail may submit a solution, however only the most recently recopied copy will be graded. Each submitted page should also have on it the team name and problem number, and the front page should include the signatures of all contestants on that team. 
	</p><p>
		Although not necessary by any means, typed solutions are welcome. (For help with this, please refer to the LaTeX Wikibook.) Otherwise, please scan or take a high-resolution photo of each of your handwritten pages and convert into a .pdf document. In both cases, solutions should be uploaded as a single attachment in .pdf format on your team&rsquo;s single e-mail message. 
	</p>
	
	<h2>Submission</h2>
	<p>
		Teams must submit their online part solutions by e-mailing <a href="mailto:pupc.submit@gmail.com">pupc.submit@gmail.com</a> in accordance with the Test Rules specified above by 11:59 PM Eastern Time (UTC-5) on (Date TBD).
	</p>

	<h2>Scoring</h2>
	<p>
		The online exam is graded in the weeks after the onsite exam. We receive very detailed submissions and make sure to take the time and care to yield a fair result. Results will be announced on the website when grading is complete (we will also e-mail teams with this date).
	</p>
{% endblock body %}
