{% extends "layout.html.twig" %}

{% set title = "The Onsite Exam" %}

{% block image %}{{ parent() }}{% endblock %}
{% block body %}
	{{ parent() }}
	
	<p>
		The onsite portion of PUPC is an individual exam which contains several advanced mechanics problems. The exam challenges students to think out of the box and apply their knowledge at a deeper level than in conventional high school physics problems. 
		<!--For past onsite exams, see /*here*/. TODO-->
	</p><p>
		The 2016 PUPC Onsite Test will be held on Saturday, November 19, 2016.
	</p><p>
		In addition to the exam held on the campus of Princeton University, we have three <a href="http://pupc.princeton.edu/global/">international chapters</a> which will host concurrent exams.
		
	</p>
	
	<h2>Eligibility</h2>
	<p>
		Only individual contestants will be allowed to participate in the PUPC onsite session.
	</p><p>
		Individuals must not be enrolled full-time in a post-secondary institution prior to the start of the competition (i.e., you are currently a high school student or have not yet begun undergraduate studies).
	</p><p>
		All individuals must be registered to compete.
	</p><p>
		Individuals may also choose to register for the <a href="Online.php">online</a> portion, if desired. The two parts are entirely separate and have no bearing on each other whatsoever.
	</p><p>
		Depending on the number of registrations it may be necessary to cap the number of participants or to hold simple preliminary rounds to assure the highest-quality competitors. It is to your advantage to register as soon as possible. Please note that if you register, you are expected to arrive on site on the day of PUPC; if your availability changes later, please notify us as soon as possible by e-mailing <a href="mailto:pupc@princeton.edu">pupc@princeton.edu</a>. In case of a no-show without advance notice, there is a high chance you will not be permitted to participate again.
	</p><p>
	
	<h2>Coordination with PUMaC</h2>
	<p>
		For those who intend to compete in both the PUPC Onsite Test and the Princeton University Mathematics Competition, PUMaC, please note that PUMaC will be holding a round for eligible finalists at the time of the PUPC Onsite Test. If you also compete in PUMaC earlier in the day and are chosen as a PUMaC finalist, we will provide a slightly later exam time, which will enable you to do both the PUMaC individual finals and the PUPC Onsite Test. We have arranged this with the PUMaC staff. Hence, you should not worry about this matter.
	</p><p>
	In Princeton, in addition to the exam, students will be provided lunch, have the opportunity to engage in interactive educational workshop and hear a keynote address by one of the distinguished faculty of Princeton University’s Department of Physics (stay tuned for the announcement of this year’s keynote speaker!).
	</p>
	
	<h2>Rules</h2>
	<p>
		For the onsite exam, competitors may only use scientific calculators. The exam will not require heavy numerical calculation. Instead, it will focus on derivation and understanding the structure of the physics. Hence, computational tools beyond pure scientific calculators will be unnecessary.
	</p><p>
		Note: If you are unsure of what calculator is permitted, please e-mail us at <a href="mailto:pupc@princeton.edu">pupc@princeton.edu</a>.
	</p>
	
	<h2>Scoring</h2>
	<p>
		The onsite exam will be graded on the day of the onsite competition. Partial credit will be given and, in the case of a tie, preference will be given to the student with the more elegant solution.
		<!--Awards will be given out that day as well in accordance with the onsite /*schedule*/ TODO-->
	</p>
{% endblock body %}
