{% extends "layout.html.twig" %}

{% set title = "The Onsite Exam" %}

{% block image %}{{ parent() }}{% endblock %}
{% block body %}
	{{ parent() }}
	
	<p>
		The onsite portion of PUPC is an individual exam which contains several advanced mechanics problems. The exam challenges students to think out of the box and apply their knowledge at a deeper level than in conventional high school physics problems. 
		<!--For past onsite exams, see /*here*/. TODO-->
	</p><p>
		The 2017 PUPC Onsite Test will be held on Sunday, November 19, 2017.
	</p><p>
		In addition to the exam held on the campus of Princeton University, we have three <a href="http://pupc.princeton.edu/global/">international chapters</a> which will host concurrent exams.
		
	</p>
	
	<h2>Eligibility</h2>
	<p>
		Only individual contestants will be allowed to participate in the PUPC onsite session.
	</p><p>
		Individuals must not be enrolled full-time in a post-secondary institution prior to the start of the competition (i.e., you are currently a high school student or have not yet begun undergraduate studies).
	</p><p>
		All individuals must be registered to compete.
	</p><p>
		Individuals may also choose to register for the <a href="Online.php">online</a> portion, if desired. The two parts are entirely separate and have no bearing on each other whatsoever.
	</p><p>
		Depending on the number of registrations it may be necessary to cap the number of participants or to hold simple preliminary rounds to assure the highest-quality competitors. It is to your advantage to register as soon as possible. Please note that if you register, you are expected to arrive on site on the day of PUPC; if your availability changes later, please notify us as soon as possible by e-mailing <a href="mailto:pupc@princeton.edu">pupc@princeton.edu</a>. In case of a no-show without advance notice, there is a high chance you will not be permitted to participate again.
	</p><p>
	
	<h2>Coordination with PUMaC</h2>
	<p>
		This year, PUPC and the Princeton University Mathematics Competition (PUMaC) will be held on separate days: PUMaC will be on Saturday, November 18 and PUPC will be on Sunday, November 19. This will allow competitors to comfortably compete in both PUPC and PUMaC with no time conflicts. For those who intend to compete in both the PUPC Onsite Test and PUMaC, rest assured that you will have plenty of time to relax, cool down, and be prepared for a whole day of physics on the 19th!
	</p><p>

<!--
	In Princeton, in addition to the exam, students will be provided lunch, have the opportunity to engage in interactive educational workshop and hear a keynote address by one of the distinguished faculty of Princeton University’s Department of Physics (stay tuned for the announcement of this year’s keynote speaker!).
	</p>
-->	
	<h2>Rules</h2>
	<p>
		For the onsite exam, competitors may only use scientific calculators. The exam will not require heavy numerical calculation. Instead, it will focus on derivation and understanding the structure of the physics. Hence, computational tools beyond pure scientific calculators will be unnecessary.
	</p><p>
		Note: If you are unsure of what calculator is permitted, please e-mail us at <a href="mailto:pupc@princeton.edu">pupc@princeton.edu</a>.
	</p>
	
	<h2>Scoring</h2>
	<p>
		The onsite exam will be graded on the day of the onsite competition. Partial credit will be given and, in the case of a tie, preference will be given to the student with the more elegant solution.
		<!--Awards will be given out that day as well in accordance with the onsite /*schedule*/ TODO-->
	</p>

	<h2>Logistics</h2>
        <p>
	        We recommend staying at the <a href="http://doubletree3.hilton.com/en/hotels/new-jersey/doubletree-by-hilton-hotel-princeton-PCTDTDT/index.html" target="_blank"> Hilton Doubletree Hotel</a> in Princeton, located 5 miles from Jadwin Hall. They will be providing a <a href="https://secure3.hilton.com/en_US/dt/reservation/book.htm?inputModule=HOTEL&ctyhocn=PCTDTDT&spec_plan=CDTPHY&arrival=20171118&departure=20171120&cid=OM,WW,HILTONLINK,EN,DirectLink&fromId=HILTONLINKDIRECT" target="_blank"> reduced rate</a> for competitors.
	</p>
	<div class="container">
              <div class="col-sm-3" id="Map">
		    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12159.666772195122!2d-74.59863388360601!3d40.36637151020849!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x17eb42f6f82d0564!2sDoubleTree+By+Hilton+Hotel+Princeton!5e0!3m2!1sen!2sus!4v1504123282715" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	      </div>
	      <div class="col-sm-4" id="Host">
                  
		    <div class="row">
		          <div class="col-xs-7 col-sm-2">
			        <a href="http://doubletree3.hilton.com/en/hotels/new-jersey/doubletree-by-hilton-hotel-princeton-PCTDTDT/index.html" target="_blank"><img alt="Hilton Doubletree Princeton" src="img/doubletree.jpg"></img></a>
			  </div>
		    </div>
	      </div>
	</div>
	<p>
	       From the hotel, travel three miles southwest to Washington Road. Turn right on Washington and travel one mile to 
	       Jadwin Hall.
	       <br><br>
	       Princeton University also provides a <a href="http://www.princeton.edu/pub/ph/lodging/" target="_blank">list</a> of 
	       nearby hotels.
	</p>

	
	
{% endblock body %}
