{% extends "layout.html.twig" %}

{% set title = "PhysiKarma" %}

{% block image %}{{ parent() }}{% endblock %}
{% block body %}
	{{ parent() }}
	
	<p>
		The <i><a href="About.php#Board" target="_blank">PUPC Permanent Board</a></i> is excited to announce a new initiative aimed at benefiting all competitors, both former and those thinking of participating in our events in the future. A new "unit" of honor, called physiKarma, was instituted in July 2016. PhysiKarma are virtual points that will be awarded to anyone eligible to participate in PUPC who completes certain tasks related to being active in the PUPC community and its affiliate programs.
	</p><p>
		The first task you are invited to fulfill and earn some physiKarma is to create or improve upon a physics-related entry in <b><a href="https://www.expii.com/" target="_blank">Expii</a></b>, the educational, ever-expanding free encyclopedia for STEM-related fields, which works via a mechanism similar to Wikipedia. <b><a href="https://www.math.cmu.edu/~ploh/" target="_blank">Po-Shen Loh</a></b>, the founder of Expii, has supported our efforts in enhancing PUPC, and we are excited to collaborate with this educational initiative. In addition to earning <i>fame</i> within Expii, for each new entry (either <i>explanation</i>, <i>problem</i>, or <i>solution</i>) that you create in Expii, you will receive <b>5</b> physiKarma points, and for each existing entry that you improve you will receive <b>3</b> physiKarma points. In order to receive physiKarma, the entries you contribute to must, in some way, be related to the <b><a href="https://www.expii.com/s/1618" target="_blank">physics</a></b> <i>topic</i> in Expii.
	</p><p>
		When you register to participate in PUPC, simply use the same email you registered with for Expii, and your name will be tied to that Expii contributor. Your cumulative earned PhysiKarma (counter started on July 11, 2016) will be recorded prior to the Onsite event in November. During the awards ceremony, organizers will reveal names of participants who earned the most PhysiKarma, and you will have a chance to win an additional (fun) award in the PhysiKarma category when competing Onsite. If you only participate in the Online Part, you will be notified of your cumulative PhysiKarma online and will be honored with a special certificate!
	</p><p>
		PhysiKarma will remain with you forever, and we hope that you will enjoy this opportunity to stay connected to PUPC this summer and beyond!
	</p><p>
		Keep in mind that these PhysiKarma points are simply designed to make the PUPC community more cohesive and engaged, and <em>their allocation is completely independent of the judging processes during the actual competitions.</em> If we announce any other opportunities to earn PhysiKarma later, those points will be added to the PhysiKarma you earn while contributing to Expii.
	</p>
{% endblock body %}
