{% extends "layout.html.twig" %}

{% set title = "Princeton" %}

{% block image %}{{ parent() }}{% endblock %}
{% block body %}
	{{ parent() }}
	
	<h2>PUPC Headquarters</h2>
	PUPC is headquartered at <a href="http://princeton.edu" target="_blank">Princeton University</a> in Princeton, NJ, USA. If you are a prospective competitor who cannot travel to the U.S. for the Onsite Test at Princeton, you now have the opportunity to compete at one of the <a href="http://pupc.princeton.edu/global/">international chapters</a> instead.
	<h2>Past results from Princeton University</h2>
<h3><a href="/archive/2014_onsite_results.pdf" target="_blank">PUPC 2014</a></h3>
<h3><a href="/archive/2015_onsite_results-princeton.pdf" target="_blank">PUPC 2015</a></h3>
<h3><a href="/archive/PUPC2016PrincetonOnsiteScores.pdf" target="_blank">PUPC 2016: All Scores</a></h3>
<h3><a href="/archive/2016_onsite_names_results.pdf" target="_blank">PUPC 2016: Winners and Competitor List</a></h3>
	<!--<i>86 students</i> competed in our second annual Onsite Test of the Princeton University Physics Competition based at Princeton University, held on Saturday, November 21, 2015. The rankings are <a href="files/onsite_results_2015_princeton.pdf" target="_blank">now available</a>. <br>For your individual score breakdown, please e-mail us at pupc@princeton.edu.
	
	<br><br>You may access <a href="files/onsite_problems_2015.pdf" target="_blank">the problem packets that contestants were given</a> and <a href="files/onsite_solutions_2015.pdf" target="_blank">selected solution</a>.
	
	<br><br>We congratulate all participants, whether you are a winner or not!<br>Thank you very much and we hope to see you, along with your classmates and friends, next year.-->
{% endblock body %}
