{% extends "layout.html.twig" %}

{% set title = "Princeton" %}

{% block image %}{{ parent() }}{% endblock %}
{% block body %}
	{{ parent() }}
<!--	<h2>Results: Onsite Test at Princeton University</h2>
	<i>86 students</i> competed in our second annual Onsite Test of the Princeton University Physics Competition based at Princeton University, held on Saturday, November 21, 2015. The rankings are <a href="files/onsite_results_2015_princeton.pdf" target="_blank">now available</a>. <br>For your individual score breakdown, please e-mail us at pupc@princeton.edu.
	
	<br><br>You may access <a href="files/onsite_problems_2015.pdf" target="_blank">the problem packets that contestants were given</a> and <a href="files/onsite_solutions_2015.pdf" target="_blank">selected solution</a>.
	
	<br><br>We congratulate all participants, whether you are a winner or not!<br>Thank you very much and we hope to see you, along with your classmates and friends, next year.-->
{% endblock body %}
