{% extends "layout.html.twig" %}

{% set title = "Privacy policy" %}

{% block image %}{{ parent() }}{% endblock %}
{% block body %}
	{{ parent() }}
	
	<p>The PUPC portal is stationed on Princeton University servers, and as such all University rules apply. We do not share any personal details submitted through this site with third parties.</p>
{% endblock body %}
