{% extends "layout.html.twig" %}

{% set title = "Registration" %}

{% block body %}
	{{ parent() }}
	
	<form method="post">
		<div class="form-group">
			<label for="username">Username:</label>
			<input type="text" class="form-control" name="username" placeholder="Enter username"></input>
		</div>
		<div class="form-group">
			<label for="email">Email address:</label>
			<input type="email" class="form-control" name="email" placeholder="Enter email"></input>
		</div>
		<div class="form-group">
			<label for="password">Password:</label>
			<input type="password" class="form-control" name="password" placeholder="Enter assword"></input>
			<input type="password" class="form-control" name="repassword" placeholder="Re-enter password"></input>
		</div>
		<button type="submit" class="btn btn-default">Register</button>
	</form>
{% if submit %}
	{{ register_result }}
{% endif %}
{% endblock body %}
