{% extends "layout.html.twig" %}

{% set title = "Registration" %}

{% block image %}{{ parent() }}{% endblock %}
{% block body %}
	{{ parent() }}
	<span id="FeeTextToggle" class="hidden" data-toggle="collapse" data-target="#FeeHelp">Toggle</span>
	<p> 
	        Registration for PUPC 2017 is now closed. Good luck to this year's competitors! <br>

		Check back in September 2018 for information on the 2018 competition.
	</p>
{% endblock body %}
