{% extends "layout.html.twig" %}

{% set title = "Registration" %}

{% block image %}{{ parent() }}{% endblock %}
{% block body %}
	{{ parent() }}
	<script>$(document).ready(function() {$('[data-toggle="popover"]').popover()});</script>
	<script>$(document).ready(function() {$('*[name="format"]').change(function() {$('#FormatToggle').click()})});</script>
	<script>$(document).ready(function() {$('*[name="aid"]').change(function() {$('#AidToggle').click()})});</script>
	<script>
		$(document).ready(function() {$('*[name="site"]').change(function() {
			if ($(this).val() == 'Princeton')
				$('#FeeTextToggle').click();
			else if ($('#FeeHelp').hasClass('in'))
				$('#FeeTextToggle').click()
		})});
	</script>
	<span id="FormatToggle" class="hidden" data-toggle="collapse" data-target="#IndividualFields,#TeamFields">Toggle</span>
	<span id="AidToggle" class="hidden" data-toggle="collapse" data-target="#AidHelp">Toggle</span>
	<span id="FeeTextToggle" class="hidden" data-toggle="collapse" data-target="#FeeHelp">Toggle</span>
	<form role="form" action="" method="post" class="form-horizontal">
		<div class="form-group">
			<label for="format" class="col-xs-7 col-sm-2 control-label">Format:</label>
			<div class="col-sm-5">
	    		<select class="form-control" name="format">
					<option value="false">Onsite individual event</option>
					<option value="true">Online team competition</option>
				</select>
			</div>
		</div>
		<div id="IndividualFields" class="collapse in">
			<div class="form-group">
				<label for="site" class="col-xs-7 col-sm-2 control-label">Competition site:</label>
				<div class="col-sm-5">
		    		<select class="form-control" name="site">
						<option value="Princeton">Princeton University, Princeton, USA</option>
						<option value="China">South University of Science and Technology, Shenzhen, China</option>
						<option value="Germany">Freshman Institute of FH Aachen University of Applied Sciences, Geilenkirchen, Germany</option>
						<option value="Slovakia">Comenius University (Faculty of Mathematics, Physics and Informatics), Bratislava, Slovakia</option>
					</select>
					<span id="FeeHelp" class="form-text text-muted collapse in">There is a $10 fee only for the onsite event in Princeton. (<a href="javascript:void(0)" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Payments by cash or check (to &ldquo;Princeton Society of Physics Students&rdquo;) will be accepted during competition check-in. Please indicate below if you need financial aid.">info</a>)</span>
				</div>
			</div>
			<div class="form-group">
				<label for="aid" class="col-xs-7 col-sm-2 control-label">Financial aid:</label>
				<div class="col-sm-5">
		    		<select class="form-control" name="aid">
						<option value="true">Yes, I need financial aid.</option>
						<option value="false" selected>No, I do not need financial aid.</option>
					</select>
					<span id="AidHelp" class="form-text text-muted collapse">Please briefly explain why you require aid in the notes section below.</span>
				</div>
			</div>
			<div class="form-group">
				<label for="note" class="col-sm-2 control-label">Notes, requests:</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" name="note" placeholder=""></input>
				</div>
			</div>
		</div>
		<div id="TeamFields" class="collapse">
			<div class="form-group">
				<label for="name" class="col-xs-7 col-sm-2 control-label">Team name:</label>
				<div class="col-sm-5"><input type="text" class="form-control" name="name" placeholder=""></input></div>
			</div>	
			<label><em>Please enter the emails that were used to register for an account (including your own):</em></label>
			<div class="form-group">
				<label for="email1" class="col-xs-7 col-sm-2 control-label">Member 1 email:</label>
				<div class="col-sm-5"><input type="text" class="form-control" name="email1" placeholder=""></input></div>
			</div>
			<div class="form-group">
				<label for="email2" class="col-xs-7 col-sm-2 control-label">Member 2 email:</label>
				<div class="col-sm-5"><input type="text" class="form-control" name="email2" placeholder=""></input></div>
			</div>
			<div class="form-group">
				<label for="email3" class="col-xs-7 col-sm-2 control-label">Member 3 email:</label>
				<div class="col-sm-5"><input type="text" class="form-control" name="email3" placeholder=""></input></div>
			</div>
			<div class="form-group">
				<label for="email4" class="col-xs-7 col-sm-2 control-label">Member 4 email:</label>
				<div class="col-sm-5"><input type="text" class="form-control" name="email4" placeholder=""></input></div>
			</div>
			<div class="form-group">
				<label for="email5" class="col-xs-7 col-sm-2 control-label">Member 5 email:</label>
				<div class="col-sm-5"><input type="text" class="form-control" name="email5" placeholder=""></input></div>
			</div>
			<div class="form-group">
				<label for="email6" class="col-xs-7 col-sm-2 control-label">Member 6 email:</label>
				<div class="col-sm-5"><input type="text" class="form-control" name="email6" placeholder=""></input></div>
			</div>
		</div>
		<button type="submit" name="submit" value="true" class="btn btn-default">Register</button>
	</form>
{% endblock body %}
