{% extends "layout.html.twig" %}

{% set title = "Password Reset" %}

{% block body %}
	{{ parent() }}
	
	<form role="form" action="" method="post" class="form-horizontal">
{% if not reset %}
		<div class="form-group">
			<label for="email" class="col-sm-1 control-label">Email address:</label>
			<div class="col-sm-6">
	    		<input type="text" class="form-control" name="email" placeholder="Enter e-mail address"></input>
			</div>
		</div>
		<button type="submit" name="submit" value="true" class="btn btn-default">Reset</button>
{% else %}
		<input type="text" class="hidden" name="email" placeholder="{{ email }}"></input>
		<input type="text" class="hidden" name="code" placeholder="{{ code }}"></input>
		<div class="form-group">
			<label for="password" class="col-sm-1 control-label">Password:</label>
			<div class="col-sm-3">
				<input type="password" class="form-control" name="password" placeholder="Enter password"></input>
			</div>
			<div class="col-sm-3">
				<input type="password" class="form-control" name="repassword" placeholder="Re-enter password"></input>
			</div>
		</div>
		<button type="submit" name="submit" value="true" class="btn btn-default">Reset password</button>
{% endif %}
	</form>
{% endblock body %}
