{% extends "layout.html.twig" %}

{% set title = "Rules" %}

{% block image %}{{ parent() }}{% endblock %}
{% block body %}
	{{ parent() }}
	
	<h2>Eligibility</h2>
	
	<h3>Registration Interval</h3>
	<p>Registration for both the <a href="#onlinereg">Online Part</a> and <a href="#onsitereg">Onsite Test</a> of PUPC 2015 is <a href="registration.htm" target="_blank">now closed</a>.</p>
	<p>Registration for PUPC 2016 is expected to begin in September 2016.</p>
	<p>Any eligible individual may choose to compete in one or both events, subject to the conditions below. Note that registration for each part is separate.
				<!--<br>Registration for the Online Part will close at 11:59 PM EST <b>November 4</b>; registration for the Onsite Test will remain open past that date.-->
	
	<h3 name="onsitereg">Onsite</h3>
	<p>(<i>held on Nov. 21, 2015 at Princeton University and our two <a href="http://physics.princeton.edu/pupc/2015/international.htm" target="_blank">international</a> chapters</i>)</p>
	<p>Only individual contestants will be allowed to participate in the PUPC onsite session.</p>
	<p>Individuals must not have been enrolled full-time in a post-secondary institution during the course of the competition (i.e., you are currently a high school student).</p>
	<p>All individuals must be registered to compete.</p>
	<p>Depending on the number of registrations it may be necessary to cap the number of participants or to hold simple preliminary rounds to assure the highest-quality competitors. It is to your advantage to register as soon as possible. <!-- (For reference, the partial 2014 list of registered individuals is available <b><a href="list.htm" target="_blank">here</a></b>.--><!--Please *refresh* that page any time you wish to see recent changes.--> Please note that if you register, you are expected to arrive on site on the day of PUPC; if your availability changes later, please notify us <em>as soon as possible</em> by e-mailing <a href="mailto:pupc@princeton.edu">pupc@princeton.edu</a>. In case of a no-show without advance notice, there is a high chance you will not be permitted to participate on campus again.</p>
				<!--<br><li>Each contestant in 2014 was required to pay a small, $10 participation fee (to help cover expenses associated with holding the Onsite Test) <i>after</i> registration and <i>before</i> the competition, by means of <u>one</u> of the following:
				<br>&nbsp;(1) through the University's online "conference registration" system,
				<br>&nbsp;(2) by means of a check payable to Princeton Society of Physics Students and brought on site on Nov. 21, or
				<br>&nbsp;(3) by means of cash (no change, please) brought on site on Nov. 21.
				<br>For this fee <b><i>all</i></b> contestants will be treated to free lunch before the competition and will receive free T-shirts with PUPC logo/letterhead; everyone will also receive a personalized certificate of participation after the Onsite Test! Winners will additionally receive prizes in the form of medals.-->
	
	<h3>Coordination with PUMaC</h3>
	<p>For those who intend to compete in both the PUPC Onsite Test and the mathematics competition, PUMaC, please note that PUMaC will be holding a round for eligible finalists at the time of PUPC Onsite Test. If you also compete in PUMaC earlier in the day <em>and</em> are chosen as a PUMaC finalist, you will have an opportunity to take our 40-minute Short Version of the Onsite Test after your PUMaC event (please see <a href="schedule.htm" target="_blank">our schedule</a>). Hence, you should not worry about this matter. <!--Also, those who compete in PUPC and register with PUMaC should strive to eat lunch at PUMaC, for logistical purposes.-->
				<!--<br><li>For everyone else, please note that the participation fee is non-refundable.-->
			
	<h3 name="onlinereg">Online</h3>
	<p>(<i>completed at any location(s) convenient for team members during the week of Nov. 9&ndash;15, 2015</i>)</p>
	<p>A full team will consist of anywhere between 2 and 6 members.</p>
	<p>A team member must not have been enrolled full-time in a post-secondary institution during the course of the competition.</p>
	<p>All teams must register to compete. Depending on the number of registrations it may be necessary to cap the number of participants or to hold simple preliminary rounds to assure the highest-quality competitors.  It is to your advantage to register as soon as possible. (For reference, the partial 2014 list of registered individuals is available <b><a href="/pupc/2014/list.htm" target="_blank">here</a></b>.<!--Please *refresh* that page any time you wish to see recent changes.-->)</p>
	<p>No team can be added to the competition after the registration deadline, unless the current Director, Finance Chair, or Registration Chair of the Princeton University Physics Competition gives permission to do so.</p>
	<p>Generally, teams are expected to come from single high schools, but teams comprising members from several schools will be allowed for their own convenience, in which case all high schools must be specified in the corresponding field on the registration form. <!--The current Director of the Princeton University Physics Competition will have the final word on the legitimacy of teams that do not come from an individual school.--></p>
	<p>There will be a single set of problems which participants in any grade of high school might attempt. In other words, a team may have members from different grades of high school, but the problems that they have to solve will be the same. Please specify the grade level of each team member next to their name in the registration form for logistical purposes.</p>
	
	<h2 name="onsitetest">The Onsite Test</h2>
	<p> The 2015 PUPC Onsite Test at Princeton will be held on Saturday, November 21, 2015. The schedule of events for that day and directions to campus are available <a href="schedule.htm">here</a>.</p>
	
	<h3>Rules</h3>
	<p>Each participant of PUPC will take one individual onsite test, which will contain several problems in Mechanics (kinematics and dynamics), and partial credit will be awarded as appropriate. <!-- (OR ??? and the five questions are weighted as follows: 3-4-5-6-7 ???)--></p>
	<p>Participants are expected to record their answers on an official PUPC answer sheet.</p>
	<p>Participants are NOT allowed to collaborate on this part of the competition.</p>
	<p>The individual test will have a time limit of two hours.</p>
	
	<h2 name="onlinepart">The Online Part</h2>
	<p><em>Note:</em> The 2015 PUPC Online Part has been released <!--by 00:00 Eastern Time (UTC-5)-->as of November 9, 2015 both through e-mail to all team managers and <a href="/pupc/2015/files/PUPC_2015_OnlinePart.pdf" target="_blank">online</a>. All teams are entitled to use <!--are responsible for checking the pinned <b><a href="https://piazza.com/class/igl3efcsmei5r4?cid=13" target="_blank">Hints and Errata</a></b> post published on--> our <a href="https://piazza.com/class/igl3efcsmei5r4" target="_blank">Piazza page</a> as a resource aiming to parallel a live Q&amp;A format, addressing any clarifications on the material throughout the competition period.</p>
	<p>The Online Part is a way for PUPC to expose a team to what real physics is about: questions that may take more than an hour or two and require creative thinking for solutions.</p>
	
	<h3>Rules</h3>
	<p>The Online Part will present interesting definitions or advanced concepts in one broad area of physics.</p>
	<p>The main theme for this year&rsquo;s Online Part is <em>atomic physics</em>.</p>
	<p>The two subfields offered for the Online Part last year (2014) were condensed matter and cosmology.</p>
	<p>The entire team may collaborate on this test. There is no rigid time limit, except teams must submit their solutions before the submission due date specified below. As such, the team will have approximately a week to work on the exam. Different teams may not collaborate with each other.</p>
	<p>Teams may use any computational resources they might find helpful, such as Wolfram Alpha/Mathematica, Matlab, Excel, or lower level programming languages (C++, Java, Python, etc).</p>
	<p>You may use written sources of information for reference, but you must cite each source you used in accordance with the <a href="http://www.princeton.edu/pr/pub/integrity/pages/cite" target="_blank">official policy</a> practiced at Princeton University.</p>
	<p>Students will be required to submit written solutions with justification (proof-based, but not necessarily rigorous, unless specified).</p>
	<p>Solutions should be sent to the address pupc.submit@gmail.com with your team ID in the Subject field. Only one person per team, identified as the "team manager" during registration, should send this e-mail. (Team managers will receive their team ID via e-mail before the Online Part is released.) Each submitted page should also have on it the team ID number and problem number, and the front page should include the signatures of <em>all</em> contestants in that team.</p>
	<p>Although not necessary by any means, typed solutions are welcome. (For help with this, please refer to the LaTeX Wikibook.) Otherwise, please scan or take a high-resolution photo of each of your handwritten pages and convert into a .pdf document. In both cases, solutions should be uploaded <em>as a single attachment in .pdf format to your team's single e-mail message</em>.</p>
	
	<h3>Submission</h3>
	<p>Teams must submit their Online Part solutions by e-mailing pupc.submit@gmail.com in accordance with the Test Rules specified above by 11:59 PM Eastern Standard Time (UTC-5) on <em>November 15, 2015</em>. Teams would still be able to submit their solutions to the Online Part at a later time, but we cannot guarantee that they will be considered. <!--Any discrepancies will be dealt with by the current Director of PUPC.--></p>
	
	<h2>Scoring</h2>
	<p>The Judging Committee will create separate rankings for the two parts of the competition: the Online and the Onsite parts.</p>
	<p>In the case of a tie in the individual rankings, the advantage will be given to the participant solving the more difficult questions on the Onsite Part. If a tie persists, the participant with the more elegant solution will be given the advantage.</p>
		 
	<!--SOCIAL MEDIA CONNECTIVITY (next two lines and script above)--><!-- To like THIS page on Facebook, use this: --><!--<p class="fb-like" data-send="true" data-width="150" data-show-faces="true"></p>-->
	<!-- To tweet THIS page through Twitter, use this: --><!--<a href="https://twitter.com/share" class="twitter-share-button" data-via="PrincetonSPS" data-hashtags="psps" data-dnt="true">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>-->
{% endblock body %}
