{% extends "layout.html.twig" %}

{% set title = "Schedule" %}

{% block image %}{{ parent() }}{% endblock %}
{% block body %}
	{{ parent() }}
	
<!--	<h2 name="online">Online Part</h2>
	<p><em>0:00 EST on November 9, 2015</em>: The team-based <a href="rules.htm#onlinepart">Online Part</a> is released. Teams have one week to work on this part, choosing one or both of two available topics.
	<p><em>23:59 EST on November 15, 2015</em>: The Online Part is due, to be submitted as specified in the <a href="rules.htm#onlinepart" target="_blank">rules</a><!--(this includes the time extension). You may submit later, but we cannot guarantee consideration.
	<p>The Online Part will be judged separately from the Onsite Test for a duration of at least one week.-->
	
	<h2 name="onsite">Onsite Event: November 19, 2017</h2>
	7:00 – 9:00 Registration, Brush Gallery, McDonnell Hall. <br>
	9:30 – 11:00 Onsite Exam, McDonnell A02 & Jadwin A10.<br>
	11:00 – 12:00 Campus Tour/Movie/Q&A, Various locations<br>
	12:30 – 1:45 Lunch, Brush Gallery, McDonnell Hall <br>
	2:00 – 3:00 Keynote Address, McDonnell A02 <br>
	3:30 Awards Ceremony, McDonnell A02 <br>
<!--
<i> For schedules at non-Princeton University locations, please refer to the <a href="http://pupc.princeton.edu/global">Global</a> directory after the first week of November!</i>
<h3>Core events</h3>
	<p>12:00&ndash;2:00 PM: Check-in (please <b>bring your school-issued ID</b> or other document to confirm identity), located in the Joseph Henry Room (JHR) on the first floor of Jadwin Hall; entrance from courtyard
	<p>12:30&ndash;1:30 PM: Lunch, informal meet-and-greet (Jadwin Hall lobby in front of the JHR)
	<p>2:00&ndash;3:30 PM: Regular Onsite Test (Jadwin A10)
	<p>3:30&ndash;5:00 PM: The Onsite Test for PUMaC Finalists (Jadwin A07)
	<p>5:00 PM: Keynote Talk by a faculty member, <a href="http://www.princeton.edu/physics/people/display_person.xml?netid=mlisanti" target="_blank">Professor Mariangela Lisanti</a> (Jadwin A10)
	<p><em>4:00&ndash;6:00 PM</em>: The <i>Judging</i> process occurs.
	<p>6:30 PM: Awards Ceremony (Jadwin A10)

<h3>Special events</h3>
<p>2:30&ndash;4:30 PM: Expii table with <a href="http://www.math.cmu.edu/~lohp/" target="_blank">Po-Shen Loh</a>, national coach of the USA International Math Olympiad team (#1 in 2015 and 2016, first time in 21 years) and founder of <a href="http://expii.com" target="_blank">expii.com</a></p>


<p>A bit about Expii: Expii solves personalized learning, using mathematical algorithms and crowdsourcing to turn every smartphone into a free adaptive learning system. Community contributions and collaborations support diverse learning styles to empower everyone to take control of their own education.</p> -->
	
	<h2 name="directions">Directions to campus</h2>
	<p>Please read <a href="http://www.princeton.edu/main/visiting/travel/" target="_blank">this overview</a> for traveling to campus from various directions.
	<!--<p>Please note that there will be no parking available in the lots on Ivy Lane or Lot 21. Per official instructions, on 11/22/2014 guests may park in LOT 10, 13, or the North Garage only.--> The parking map is located <a href="http://www.princeton.edu/parking/Parking_Lots.pdf" target="_blank">here</a>.
	<p>Per university policy, high school students are not permitted to stay overnight on campus.</p> 
{% endblock body %}
