{% extends "layout.html.twig" %}

{% set title = "Schedule" %}

{% block image %}{{ parent() }}{% endblock %}
{% block body %}
	{{ parent() }}
	
<!--	<h2 name="online">Online Part</h2>
	<p><em>0:00 EST on November 9, 2015</em>: The team-based <a href="rules.htm#onlinepart">Online Part</a> is released. Teams have one week to work on this part, choosing one or both of two available topics.
	<p><em>23:59 EST on November 15, 2015</em>: The Online Part is due, to be submitted as specified in the <a href="rules.htm#onlinepart" target="_blank">rules</a><!--(this includes the time extension). You may submit later, but we cannot guarantee consideration.
	<p>The Online Part will be judged separately from the Onsite Test for a duration of at least one week.-->
	
	<h2 name="onsite">Schedule for Onsite Event: November 19, 2016</h2>
<i> For schedules at non-Princeton University locations, please refer to the <a href="http://pupc.princeton.edu/global">Global</a> directory after the first week of November!</i>
<h3>Core events</h3>
	<!--<p><em>Noon on November 21, 2015</em>: Arrival of contestants begins-->
	<p><em>12:00&ndash;2:00 PM</em>: <i>Check-in</i> (please <b>bring your school-issued ID</b> or other document to confirm identity), located in the Joseph Henry Room (JHR) on the first floor of Jadwin Hall; entrance from courtyard
	<p><em>12:30&ndash;1:30 PM</em>: <i>Lunch</i>, informal meet-and-greet (Jadwin Hall lobby in front of the JHR)
	<p><em>2:00&ndash;3:30 PM</em>: Regular <i>Onsite Test</i> (Jadwin A10)
	<p><em>3:30&ndash;5:00 PM</em>: The <i>Onsite Test</i> for PUMaC Finalists (Jadwin A07)
	<p><em>5:00 PM</em>: <i>Keynote Talk</i> by a faculty member, <a href="http://www.princeton.edu/physics/people/display_person.xml?netid=mlisanti" target="_blank">Professor Mariangela Lisanti</a> (Jadwin A10)
	<!--<p><em>4:00&ndash;6:00 PM</em>: The <i>Judging</i> process occurs.-->
	<p><em>6:30 PM</em>: <i>Awards Ceremony</i> (Jadwin A10)

<h3>Special events</h3>
<p><em>2:30&ndash;4:30 PM</em>: Expii table with <a href="http://www.math.cmu.edu/~lohp/" target="_blank">Po-Shen Loh</a>, national coach of the USA International Math Olympiad team (#1 in 2015 and 2016, first time in 21 years) and founder of <a href="http://expii.com" target="_blank">expii.com</a></p>


<p><i>A bit about Expii:</i> Expii solves personalized learning, using mathematical algorithms and crowdsourcing to turn every smartphone into a free adaptive learning system. Community contributions and collaborations support diverse learning styles to empower everyone to take control of their own education.</p>


<p><em>12:00&ndash;6:30 PM</em>: <i>Interactive educational workshop</i> in Jadwin A06 (specifics to be announced!)
	
	<h2 name="directions">Directions to campus</h2>
	<p>Please read <a href="http://www.princeton.edu/main/visiting/travel/" target="_blank">this overview</a> for traveling to campus from various directions.
	<!--<p>Please note that there will be no parking available in the lots on Ivy Lane or Lot 21. Per official instructions, on 11/22/2014 guests may park in LOT 10, 13, or the North Garage only.--> The parking map is located <em><a href="http://www.princeton.edu/parking/Parking_Lots.pdf" target="_blank">here</a></em>.
	<p>Per university policy, high school students are not permitted to stay overnight on campus.</p>
{% endblock body %}
