{% extends "layout_PUPC.html.twig" %}

{% set title = "Schedule" %}

{% block body %}
	{{ parent() }}
	
	<h2 name="online">Online Part</h2>
	<p><em>0:00 EST on November 9, 2015</em>: The team-based <a href="rules.htm#onlinepart">Online Part</a> is released. Teams have one week to work on this part, choosing one or both of two available topics.
	<p><em>23:59 EST on November 15, 2015</em>: The Online Part is due, to be submitted as specified in the <a href="rules.htm#onlinepart" target="_blank">rules</a><!--(this includes the time extension). You may submit later, but we cannot guarantee consideration-->.
	<p>The Online Part will be judged separately from the Onsite Test for a duration of at least one week.
	
	<h2 name="onsite">Schedule for Onsite Test</h2>
	<p><em>Noon on November 21, 2015</em>: Arrival of contestants begins
	<p><em>12:00&ndash;1:30 PM</em>: Registration in the <i>Joseph Henry Room</i> (JHR) on the first floor of Jadwin Hall, entrance from the courtyard.
	<p><em>12:30&ndash;1:30 PM</em>: An informal meet-and-greet with <i>lunch</i> served in the Jadwin Hall lobby in front of the JHR. (Registration continues; signs will be posted.)
	<p><em>2:00&ndash;4:00 PM</em>: The <i>Onsite Test</i> held in auditorium <i>McDonnell A02</i>.
	<p><em>3:00&ndash;5:00 PM</em>: The <i>Onsite Test</i> *just for PUMaC division finalist contestants* held in room <i>Jadwin A07</i>.
	<p><em>5:00 PM</em>: Keynote Talk given directly to contestants by Professor <i>Lyman Page</i> (Department of Physics, Princeton University), an expert in observational cosmology and one of the first co-investigators for the WMAP probe that made precise observations of the cosmic background radiation.
	<!--<p><em>4:00&ndash;6:00 PM</em>: The <i>Judging</i> process occurs.-->
	<p><em>6:30 PM<!--<i>(contestants are highly encouraged to come earlier)</i>--></em>: the <i>Awards Ceremony</i> begins in auditorium <i>McDonnell A02</i>, to conclude by 7:00 PM.
	
	<h2 name="directions">Directions to campus</h2>
	<p>Please read <a href="http://www.princeton.edu/main/visiting/travel/" target="_blank">this overview</a> for traveling to campus from various directions.
	<!--<p>Please note that there will be no parking available in the lots on Ivy Lane or LOT 21. Per official instructions, on 11/22/2014 guests may park in LOT 10, 13, or the North Garage only.--> The parking map is located <em><a href="http://www.princeton.edu/parking/Parking_Lots.pdf" target="_blank">here</a></em>.
	<p>Per university policy, high school students are not permitted to stay overnight on campus.</p>
{% endblock body %}
