{% extends "layout_PUPC.html.twig" %}

{% set title = "About" %}

{% block body %}
	{{ parent() }}
	
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		
    		<a name="online"></a>
    	   	<h1>Schedule for Online Part</h1>
    	   	<li><b>0:00 EST on November 9, 2015</b>: The team-based <a href="rules.htm#onlinepart">Online Part</a> is released. Teams have one week to work on this part, choosing one or both of two available topics.
    	   	<li><b>23:59 EST on November 15, 2015</b>: The Online Part is due, to be submitted as specified in the <a href="rules.htm#onlinepart" target="_blank">rules</a><!--(this includes the time extension). You may submit later, but we cannot guarantee consideration-->.
    	   	<li>The Online Part will be judged separately from the Onsite Test for a duration of at least one week.
    	   			   		
    	   	<a name="onsite"></a>
    		<h1>Schedule for Onsite Test</h1>
    		<li><b>Noon on November 21, 2015</b>: Arrival of contestants begins
    		<li><b>12:00 - 1:30 pm</b>: Registration in the <i>Joseph Henry Room</i> (JHR) on the first floor of Jadwin Hall, entrance from the courtyard.
    		<li><b>12:30 - 1:30 pm</b>: An informal meet-and-greet with <b>lunch</b> served in the Jadwin Hall lobby in front of the JHR. (Registration continues; signs will be posted.)
    		<li><b>2:00 - 4:00 pm</b>: The <b>Onsite Test</b> held in auditorium <i>McDonnell A02</i>.
    		<li><b>3:00 - 5:00 pm</b>: The <b>Onsite Test</b> *just for PUMaC division finalist contestants* held in room <i>Jadwin A07</i>.
    		<li><b>5:00 pm</b>: Keynote Talk given directly to contestants by Professor <b>Lyman Page</b> (Department of Physics, Princeton University), an expert in observational cosmology and one of the first co-investigators for the WMAP probe that made precise observations of the cosmic background radiation.
    		<!--<li><b>4:00 - 6:00 pm</b>: The <b>Judging</b> process occurs.-->
    		<li><b>6:30 pm<!--<i>(contestants are highly encouraged to come earlier)</i>--></b>: the <b>Awards Ceremony</b> begins in auditorium <i>McDonnell A02</i>, to conclude by 7:00 pm.
    		
    		<a name="directions"></a>
    		<h1>Directions to campus</h1>
    		<li>Please read <a href="http://www.princeton.edu/main/visiting/travel/" target="_blank">this overview</a> for traveling to campus from various directions.
    		<!--<li>Please note that there will be no parking available in the lots on Ivy Lane or LOT 21. Per official instructions, on 11/22/2014 guests may park in LOT 10, 13, or the North Garage only.--> The parking map is located <b><a href="http://www.princeton.edu/parking/Parking_Lots.pdf" target="_blank">here</a></b>.
    		<li>Per university policy, high school students are not permitted to stay overnight on campus.</li>
		</div>
	</div>
{% endblock body %}
