{% extends "layout.html.twig" %}

{% set title = "Slovakia" %}

{% block image %}fmfilogo.png{% endblock %}
{% block body %}
	{{ parent() }}
	<h2>PUPC International Chapter in Slovakia</h2>
        <p>
	  PUPC has established an international chapter at <a href="http://fmph.uniba.sk/en/" target="_blank">Comenius University (Faculty of Mathematics, Physics and Informatics)</a> in <i>Bratislava, Slovakia.</i> The international chapter in Slovakia is coorganized by <a href="https://trojsten.sk" target="_blank">Trojsten NGO</a>. If you are a prospective competitor who could not travel to the U.S. for the Onsite Event at Princeton, you now have the opportunity to compete at Comenius University in Slovakia.
	</p>

	<!--<li>If you wish to compete at the Freshman Institute of FH Aachen and have <u>not</u> previously registered for the Onsite Test at all, please complete the following steps, in this order:
	<br>
	1. Fill out and submit the standard registration form by following the link at the bottom of this page and selecting "Freshman Institute of FH Aachen, Geilenkirchen, Germany" for the location option.
	<br>
	2. Only <u>after</u> completing step 1, for further details about the schedule at the Freshman Institute of FH Aachen, please directly contact Soheil Mirzapoor (soheil.mirzapoor *AT* alumni.fh-aachen.de).
	<br><br>
	<li>If you have already registered to take the Onsite Test at Princeton University and would now like to take it at the Freshman Institute of FH Aachen instead, please complete the following steps, in this order:
	<br>
	1. Send an e-mail to us at psps@princeton.edu ASAP with "PUPC Onsite Test Location Change" in the title and in the body including (1) your name, (2) your high school's name, (3) the e-mail address you have registered with, and (4) "Freshman Institute of FH Aachen, Geilenkirchen, Germany". Please do *NOT* submit the registration form the second time.
	<br>
	2. Only <u>after</u> completing step 1, for further details about the schedule at the Freshman Institute of FH Aachen, please directly contact Soheil Mirzapoor (soheil.mirzapoor *AT* alumni.fh-aachen.de).
	<br>
	<br>-->
	<p>
	       Information for the 2017 global exams is available through
          <a href="http://physicsu.org/" target="_blank">Physics Unlimited</a>.
	</p>
	<!--<h3>Schedule for 2016 Onsite Event (all times local)</h3>

			 <i>Date:</i> Saturday, 19 November 2016<br>
			 <i>Start time:</i> 10:00 am<br>
			 <i>End time:</i> 11:30 am<br>
			 <i>Lunch:</i> 12:00 - 01:00 pm<br>
			 <i>Awards ceremony:</i> 01:30 pm
			 <br>-->
<h3>Results: PUPC 2016 Onsite Event at Comenius University</h3>
<li><b>Martin Marek</b> -- <i>gold</i>
<li><b>Adam Chalupek</b> -- <i>silver</i>
<li><b>Wang Yu</b> -- <i>bronze</i>
	<!--
	<h1>Results: Onsite Event at Comenius University</h1>
	<b>22 students</b> competed in the first annual Onsite Test of the Princeton University Physics Competition based at the Freshman Institute of FH Aachen, held on Saturday, November 21, 2015. The rankings are now available <b><a href="files/onsite_results_2015_fhaachen.pdf" target="_blank">here</a></b>.
	<br>For your individual score breakdown, please e-mail us at psps@princeton.edu or Soheil Mirzapoor (soheil.mirzapoor *AT* alumni.fh-aachen.de).
	
	<br><br>You may access the problem packets that you were given <b><a href="files/onsite_problems_2015.pdf" target="_blank">here</a></b>.
	<br>Selected solutions can be found <b><a href="files/onsite_solutions_2015.pdf" target="_blank">here</a></b>.
	
	<br><br>We congratulate all participants, whether you are a winner or not!<br>Thank you very much and we hope to see you, along with your classmates and friends, next year.-->
{% endblock body %}
